:root {
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    color: var(--blue-500);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */
h1 {
    color: white;
    margin: 0.5em 0;
}

.white-text {
    color: white;
}

.cyan-text {
    color: var(--cyan-400);
}

.blue-hover-text:hover {
    color: var(--cyan-400);
    cursor: pointer;
}

/* Layout */
.card {
    background-color: var(--card-bg);
    padding: 1.5em;
    border-radius: .5em;
    max-width: 375px;
    margin: 1.5em;
}

.image-wrapper {
    position: relative;
    border-radius: .5em;
    display: inline-block;
    overflow: hidden;
}

.image-wrapper:hover {
    cursor: pointer;
}

.main-img {
    width: 100%;
    display: block;
}


.image-wrapper .overlay-img {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay-img {
    opacity: 1;
}

.image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--cyan-400);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: .5em;
}

.image-wrapper:hover::before {
    opacity: .5;
}

.info-container {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
}

.info-flex {
    display: flex;
    gap: .5em;
    align-items: center;
}

.icon {
    height: 1rem;
    width: 1rem;
}

.eth {
    width: .6rem;
}

.author {
    display: flex;
    align-items: center;
    gap: .5em;
}

.author-img {
    width: 1.65rem;
    height: 1.65rem;
    border: 1px solid white;
    border-radius: 50%;
}

/* Other Styles */
hr {
    border: none;
    border-top: 1px solid var(--line);
    margin: 1.5em 0;
}



